Q1. What is a database? Differentiate between SQL and NoSQthL databases.

an organised collectipon of data and information or interrelated data collected  at one place is callled database
sql              
1.relational database system
2.these database have fixed static or predefined schema
3.these database is not suitable for hierarchical data storage
4.these database is best suitable for complex qurries
5.follows a acid property
nosql
1.non relational and distributed database system.
2.they have dynamic schema
3.these database is best suitable for hierarchical data storage.
4.these database is not so good for complex queries
5.follow cap property.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

data defination language is a subset of sql.ddl have command like create, truncate, alter,drop.ddl is to create and modify the table.
create :-create command is used to create a table in sql.user have to give information about table name column name and data type
example:
CREATE TABLE student(
colled_id(2),
college_name varchar(30),
branch varchar(10),
);
alter:- this comand is used to add delete and change coulmn in the exiating table.
example:
ALTER TABBLE student
ADD CGPA number;
truncate:- this command is used to remove all row from  the table.but the structure of table remain exsists
example:
TRUNCATE TABLE student;
drop: this command is used to remove an exsisting table along with its structure from database
example:
DROP TABLE student;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example

dml:- dml stands for data manipulation languange in a sql is used for manipulate the data stored in the database
insert:-it is used to store data in the table
example:
    INSERT INTO student(name,age) values('ram',16);
    
update:- it is used to update the data exsist into the table.
     UPDATE student SET name='aman',age=16;
delete:-it is used to delete the record from the database table
DELETE FROM student WHERE name='ram';

Q4. What is DQL? Explain SELECT with an example

we can define dql as the component of the sql it is used for getting the data from the database and imposing order upon it.it include the select stataement.
select :- select is used retrieve the data from the database.
exmaple
select * from student

In [ ]:
Q5. Explain Primary Key and Foreign Key.

primary key :primary key is used to ensure the data in the specific column is unique.
a column cannot have null values.
student_no as well as student_phone bath are candidate keys for relation student but studo_no can be choosen as primary key

foreign key:-foreign key is column or group of column in a relational database that provide link between two tables.
student_no in student is foreign key in student no in student.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost"
    user="abc"
    password="password"
)
mycursor=mydb.cursor()
mycursor.execute(" ")
mydb.colse()

In [ ]:
cursor():the cursor method is used to create the cursor object that can be used to exwcute sql quries and fetch the result. 
execute():-execute method is used to execute the sql quaries and command, it take single argument which is sql quries for execute